:root {
  /* Paleta Black & Red Luxo */
  --primary-red: #e60000;
  --bg-dark: #0a0a0a;
  --text-light: #ffffff;
  --text-gray: #a0a0a0;
  
  /* Tipografia */
  --font-sans: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  
  /* Transições */
  --transition: 0.3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Garante que o fundo seja sempre preto e a altura total seja respeitada */
html, body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-dark);
  color: var(--text-light);
  font-family: var(--font-sans);
  overflow-x: hidden; /* Evita barra lateral horizontal */
}

/* O segredo para ocupar a tela toda */
#root {
  width: 100vw; /* 100% da largura da janela */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Removi o width de 1126px e o margin: 0 auto */
}

/* Estilos de Texto Globais */
h1, h2, h3 {
  color: var(--text-light);
  text-transform: uppercase;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: inherit;
  transition: var(--transition);
}

button {
  cursor: pointer;
  font-family: inherit;
}

/* Scrollbar Personalizada (Opcional, mas dá um toque premium) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #111;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-red);
  border-radius: 10px;
}